#-----------------------------------
#
#Github actions
#
#-----------------------------------
name: Deployment for Project X

on:
  push:
    branches: [main, master]

jobs:
 backup_repo:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo on remote server
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            # Directory where the repo will live
            mkdir -p ~/deploy_repo
            cd ~/deploy_repo

            # If repo already exists, pull latest; otherwise clone
            if [ -d ".git" ]; then
              git reset --hard
              git pull origin main
            else
              git clone https://github.com/OvidiuScridonesi/learning-GA 
            fi

 Deployment_Sonar:
    runs-on: ubuntu-latest
    needs: backup_repo
    steps:
      - name: Run Sonar code
        run: echo "Running the Sonar analysis"
      - name: Deployment on Dev
        run: echo "This will deploy the code on Dev env"
      - name: Display secrets.SERVER_HOST
        run: echo "Display secrets server host -- ${{ secrets.SERVER_HOST }}"
      - name: Display secrets.SERVER_USER
        run: echo "Display secrets server user -- ${{ secrets.SERVER_USER }}"
      - name: Display secrets.SERVER_SSH_KEY
        run: echo "Display secrets server shh key -- ${{ secrets.SERVER_SSH_KEY }}"

 Dev_first_machine:
  runs-on: ubuntu-latest
  needs: Deployment_Sonar

  steps:
    - name: Print nice message from deploy job
      run: echo "Hello World from Deploy job"
  
 Dev_second_machine:
  runs-on: ubuntu-latest
  needs: Deployment_Sonar

  steps:
    - name: Print nice message from deploy job
      run: echo "Hello World from Deploy job"        

 Dev_job:    
    runs-on: ubuntu-latest
    needs: [Dev_first_machine, Dev_second_machine]

    steps:
      - name: Stage is the next step
        run: echo "Deployment on Dev env is completed, continuing the deployment on production" 

 Stage_first_machine:
  runs-on: ubuntu-latest
  needs: Deployment_Sonar

  steps:
    - name: Print nice message from deploy job
      run: echo "Hello World from Deploy job"
  
 Stage_second_machine:
  runs-on: ubuntu-latest
  needs: Deployment_Sonar

  steps:
    - name: Print nice message from deploy job
      run: echo "Hello World from Deploy job"        

 Stage_job:    
    runs-on: ubuntu-latest
    needs: [Stage_first_machine, Stage_second_machine]

    steps:
      - name: Production is the next step
        run: echo "Deployment on Stage env is completed, continuing the deployment on production" 

 Deployment_on_production:
  runs-on: ubuntu-latest
  needs: [Dev_job, Stage_job]

  steps:
    - name: Deployment on Production     
      run: | 
       echo "This will deploy the code on Prod env"
       echo "Don't forget to scale the env!"

 notify_success:
  runs-on: ubuntu-latest
  needs: Deployment_on_production
  if: ${{ success() }}

  steps:
    - name: Notify Success
      run: |
        curl -X POST -H "Content-Type: application/json" \
        --data '{"text":"Pipeline SUCCESS"}' \
        "${{ secrets.GMAIL_WEBHOOK_URL }}"

 notify_failure:
  runs-on: ubuntu-latest
  needs: Deployment_on_production
  if: ${{ failure() }}

  steps:
    - name: Notify Failure
      run: |
        curl -X POST -H "Content-type: application/json" \
          --data '{"text":" Pipeline FAILED "}' \
          "${{ secrets.GMAIL_WEBHOOK_URL }}"