#-----------------------------------
#
#Github actions
#
#-----------------------------------
name: deploayment for project x

on:
    push:
      branches: [main, master]

jobs:
 Deployment_on_dev:
  runs-on: ubuntu-latest    

  steps:
    - name: Deployment on Dev       
      run: echo "this will deploy the code on Dev env"        
    
 Deployment_on_stage:
  runs-on: ubuntu-latest

  steps:
    - name: Deployment on Stage      
      run: echo "this will deploy the code on Stage env"

 Deployment_on_production:
  runs-on: ubuntu-latest

  steps:
    - name: Deployment on Production     
      run: echo "this will deploy the code on Prod env"

notify: 
    runs-on: ubuntu-latest
    needs: [tDeployment_on_dev, dDeployment_on_stage, Deployment_on_production]

notify_success:
    runs-on: ubuntu-latest
    needs: [test, deploy, production]
    if: ${{ success() }}

    steps:
      - name: Notify Success
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":" Pipeline SUCCESS "}' \
          ${{ secrets.GMAIL }}


  notify_failure:
    runs-on: ubuntu-latest
    needs: [test, deploy, production]
    if: ${{ failure() }}

    steps:
      - name: Notify Failure
        run: |
          curl -X POST -H 'Content-type: application/json' \
          --data '{"text":" Pipeline FAILED "}' \
          ${{ secrets.GMAIL }}