#-----------------------------------
#
#Github actions
#
#-----------------------------------
name: My-Github-Actions

on: 
  push: 
    branches: [main, master]

jobs:
  my_testing: 
    runs-on: ubuntu-latest

    steps:
      - name: Print nice message
        run: echo "Hello World"

  my_deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Print nice message from deploy job
        run: echo "Hello World from Deploy job"

      - name: List curent folder
        run: ls -la
      
      - name: git clone my repo
        run: actions/checkout@v4
        
  my_deploy_status:
    runs-on: ubuntu-latest

    steps:
      - name: See machine status
        run: |
          echo "See machine status"

          docker stats --no-stream
      